In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from sklearn import datasets 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression

In [2]:
dataset=pd.read_csv("titanic.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'titanic.csv'

In [ ]:
df1=pd.DataFrame(dataset)
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df=df1.iloc[:,[0,2,4,5,6,7,8,9,10,11,1]]
df

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:, :-1],df["Survived"],shuffle=True,test_size=0.625)

In [ ]:
print('X_train : ')
print(X_train.head())
print(X_train.shape)
 
print('')
print('X_test : ')
print(X_test.head())
print(X_test.shape)
 
print('')
print('y_train : ')
print(y_train.head())
print(y_train.shape)
 
print('')
print('y_test : ')
print(y_test.head())
print(y_test.shape)

X_train :
     PassengerId  Pclass     Sex   Age  SibSp  Parch     Ticket     Fare  \
272          273       2  female  41.0      0      1     250644  19.5000
253          254       3    male  30.0      1      0  A/5. 3336  16.1000
869          870       3    male   4.0      1      1     347742  11.1333
713          714       3    male  29.0      0      0       7545   9.4833
375          376       1  female   NaN      1      0   PC 17604  82.1708

    Cabin Embarked
272   NaN        S
253   NaN        S
869   NaN        S
713   NaN        S
375   NaN        C
(334, 10)

X_test :
     PassengerId  Pclass     Sex   Age  SibSp  Parch     Ticket      Fare  \
308          309       2    male  30.0      1      0  P/PP 3381   24.0000
146          147       3    male  27.0      0      0     350043    7.7958
302          303       3    male  19.0      0      0       LINE    0.0000
195          196       1  female  58.0      0      0   PC 17569  146.5208
59            60       3    male  11.0      5      2    CA 2144   46.9000

    Cabin Embarked
308   NaN        C
146   NaN        S
302   NaN        S
195   B80        C
59    NaN        S
(557, 10)

y_train :
272    1
253    0
869    1
713    0
375    1
Name: Survived, dtype: int64
(334,)

y_test :
308    0
146    1
302    0
195    1
59     0
Name: Survived, dtype: int64
(557,)

In [ ]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
 
model = LinearRegression().fit(X_train,y_train)
y_pred = model.predict(X_test)
print(y_pred)
print(mean_squared_error(y_test,y_pred))

NameError: name 'StandardScaler' is not defined